* {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face { 
  font-family: 'MyWebFont'; 
  src: url('WebFont.eot'); 
  src: url('WebFont.eot?#iefix') format('embedded-opentype'), url('WebFont.woff') format('woff'), url('WebFont.ttf') format('truetype'), url('WebFont.svg#webfont') format('svg'); 
}

:root {
  --clr-primary: #272a31;
  --clr-secondary: #ec5242;
  --clr-tertiary: #d3d3d3;
  --ff-primary: 'WebFont', 'Arial', 'sanserif';
}

i {
  transform: scale(2);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  max-width: 768px;
  display: flex;
  flex-direction: column;
}

.social-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  justify-content: center;
  height: 100%;
  z-index: 10;
  background: linear-gradient(rgba(11, 12, 12, 0.25), rgba(0, 0, 0, 0.5)),
    url(Images/nav-bar-mobile.jpg) center/cover no-repeat;
  transform: translateX(-100%);
  overflow-y: scroll;
}

.show-nav {
  transform: translateX(0%);
  transition: ease-in-out 1s;
}

.social-nav button {
  display: flex;
  width: fit-content;
  margin: 20px 0 15px 5%;
  justify-content: flex-start;
}

.logo {
  font-family: var(--ff-primary);
  font-weight: 800;
  color: var(--clr-primary);
  font-size: 20px;
  width: fit-content;
  margin-top: 10px;
}

.logo img {
  width: 70px;
}

.fa-times {
  color: var(--clr-tertiary);
  margin-top: 15px;
}

.social {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  margin: 5px auto;
  order: 2;
}

.nav {
  position: relative;
  width: 90%;
  margin: 10px auto;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.nav-links {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 18.5px;
  margin-top: 2.5px;
}

.nav-links li a {
  font-family: var(--ff-primary);
  color: var(--clr-secondary);
  font-size: 24px;
  text-transform: capitalize;
  padding: 8px 4px;
}

.nav-links li:last-child {
  background-color: var(--clr-tertiary);
  border: 4px solid var(--clr-secondary);
  padding: 8px 4px;
  text-align: center;
}

.social-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 30px auto 20px auto;
  height: 4vh;
  align-items: center;
  column-gap: 4%;
}

.social-links i {
  color: var(--clr-tertiary);
}

.social-links li {
  width: 120px;
  display: flex;
  justify-content: center;
}

.social-links a {
  color: var(--clr-tertiary);
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
}

.body-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(160, 161, 161, 0.5), rgba(39, 38, 38, 0.5)),
    url(Images/Webbackg.jpg) center/cover no-repeat;
}

.btn-header {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0 0 5%;
  width: fit-content;
}

.fa-bars {
  transform: scale(2.5);
  color: var(--clr-primary);
}

.header-title {
  margin: 10px auto 0 auto;
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.header-title p:first-of-type {
  color: var(--clr-secondary);
  font-family: var(--ff-primary);
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
}

.header-title h1 {
  color: var(--clr-secondary);
  font-family: var(--ff-primary);
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.8;
}

.header-desc {
  color: var(--clr-primary);
  font-size: 22px;
  outline: 2px solid var(--clr-tertiary);
  font-family: var(--ff-primary);
  line-height: 30px;
  padding: 20px 15px;
}

.header-title h2 {
  font-family: var(--ff-primary);
  font-size: 30px;
  font-weight: 600;
  color: var(--clr-primary);
}

.header-title h3 {
  margin-bottom: 75px;
  font-family: var(--ff-primary);
  font-size: 24px;
  color: var(--clr-primary);
  text-transform: capitalize;
}

.program {
  background: linear-gradient(rgba(63, 208, 212, 0.1), rgba(0, 0, 0, 0.5)),
  url(Images/main-programbackground.jpg) center/cover no-repeat;
  position: relative;
  width: 100%;
}

.program-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 40px auto;
}

.program-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.program-header h2 {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 24px;
  color: var(--clr-tertiary);
}

.underline {
  width: 50px;
  outline: 0.5px solid var(--clr-secondary);
}

.program-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.program-content {
  display: flex;
  width: 100%;
  position: relative;
  border: 1px solid grey;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  padding: 20px 0;
  column-gap: 25px;
}

.program-content p {
  color: whitesmoke;
  font-family: var(--ff-primary);
  font-size: 13.5px;
  text-transform: capitalize;
  width: 75%;
  position: relative;
  right: 0;
  font-weight: 700;
}

.program-content i {
  width: 25%;
  display: flex;
  justify-content: center;
  transform: scale(2.5);
  color: var(--clr-tertiary);
  margin-left: 7px;
}

.program-content h2 {
  color: var(--clr-secondary);
  text-transform: capitalize;
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  width: 40%;
}

.program-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-btn button {
  background-color: var(--clr-secondary);
  outline: none;
  border: none;
  width: 80%;
  height: 80px;
  padding: 10px 7px;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
}

.program-btn a {
  display: none;
}

.speakers {
  width: 100%;
  position: relative;
  background-color: #fff;
}

.speakers-container {
  width: 88%;
  position: relative;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}

.speaker-header {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}

.speaker-header h2 {
  color:var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.featured-speakers {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: 100%;
  flex-wrap: wrap;
}

.speaker1 {
  width:100%;
  position: relative;
  display: flex;
  column-gap: 5%;
  justify-content: center;
}

.speaker1 img {
  width: 100%;
  height: 65%;
  display: block;
  position: absolute;
  bottom: 15%;
}

.speaker-img-cont {
  width: 120px;
  position: relative;
  align-items: flex-end;
  justify-content: baseline;
  z-index: 1;
}

.speaker-img-cont::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 30%;
  top: 5%;
  left: -10%;
  z-index: -1;
  background-color: var(--clr-primary);
}

.speaker-content {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.speaker-content h2 {
  position: relative;
  margin-top: 10px;
  width: 100%;
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  text-transform: capitalize;
  font-size: 18px;
}

.speaker-edu {
  position: relative;
  margin: 5px 0;
  width: 100%;
  color: var(--clr-secondary);
  text-transform: capitalize;
  font-style: italic;
}

.small-under {
  outline: 1px solid var(--clr-tertiary);
  margin-bottom: 40px;
}

.speaker-text {
  position: relative;
  width: 100%;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
}

.show-more-btn {
  display: flex;
  width: 100%;
  column-gap: 15px;
  justify-content: center;
  outline: 1px solid var(--clr-tertiary);
  height: 50px;
  align-items: center;
}

.show-more-btn p {
  color: var(--clr-primary);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.fa-angle-down,
.fa-angle-up {
  color: var(--clr-secondary);
}

.btn-speaker-cont {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.show-less-btn {
  width: 100%;
  column-gap: 15px;
  justify-content: center;
  outline: 1px solid var(--clr-tertiary);
  height: 50px;
  align-items: center;
  display: none;
}

.show-less-btn p {
  color: var(--clr-primary);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.hide-btn .show-more-btn {
  display: none;
}

.hide-btn .show-less-btn {
  display: flex;
}

.about-header {
  background: linear-gradient(rgba(61, 63, 63, 0.2), rgba(0, 0, 0, 0.2)),
    url(Images/aboutusbackg.jpeg) center/cover no-repeat;
}

.about-top {
  text-align: center;
}

.about-top:nth-child(3) {
  font-family: var(--ff-primary);
  font-weight: 600;
  color: var(--clr-primary);
  background: rgba(229, 229, 233, 0.5);
  word-spacing: 3px;
  line-height: 18px;
  padding: 20px 15px;
}

.about-top:nth-child(4) {
  font-size: 16px;
}

.about-page-cont {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.about-page {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  row-gap: 15px;
  box-shadow: 0 2px 6px var(--clr-tertiary);
}

.about h2 {
  text-align: center;
  font-family: var(--ff-primary);
  font-size: 25px;
  color: var(--clr-primary);
  text-transform: capitalize;
}

.about p {
  text-transform: capitalize;
  text-align: center;
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-weight: 500;
  font-size: 18px;
}

.about img {
  margin: 20px auto;
  width: 250px;
  height: 150px;
}

.previous-seminar {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  margin-top: 30px;
}

.previous-seminar h2 {
  text-transform: capitalize;
  font-family: var(--ff-primary);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: var(--clr-primary);
}

.previous-seminar p {
  text-transform: capitalize;
  font-family: var(--ff-primary);
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: var(--clr-primary);
}

.seminar1 {
  margin-top: 30px;
  position: relative;
  background: linear-gradient(rgba(121, 150, 151, 0.9), rgba(0, 0, 0, 0.2)),
    url(Images/graduates1.jpeg) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-decoration: none;
}

.seminar1:nth-of-type(2) {
  background: linear-gradient(rgba(121, 150, 151, 0.9), rgba(0, 0, 0, 0.2)),
  url(Images/graduates2.jpeg) center/cover no-repeat;
}

.seminar1 h2 {
  color: white;
  font-family: var(--ff-primary);
  font-weight: bold;
  margin-top: 40px;
}

.seminar1 p {
  color: white;
  font-family: var(--ff-primary);
  font-weight: bold;
  text-align: center;
}

.partner {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
}

.partner-home,
.f-home {
  display: none;
}

.partner-header {
  width: 90%;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

.partner h2 {
  font-size: 24px;
  font-family: var(--ff-primary);
  color: var(--clr-tertiary);
  text-align: center;
  text-transform: capitalize;
}

.footer-social {
  width: 90%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
}

.footer-social img{
  width: 25%;
  height: 85px;
}

.footer {
  width: 100%;
}

.footer-cont {
  width: 90%;
  margin: 20px auto;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.footer-cont img {
  width: 15%;
}

.footer-cont p {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-size: 15px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
}

.back-top {
  display: none;
}

@media screen and (min-width: 769px) {
  body {
    max-width:100vw;
    margin: 0;    
  }

  .social-links i {
    transform: scale(1.2);
  }

  .social-nav {
    transform: translateX(0);
    background-image: none;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 99;
    top: 0;
    left: 0;
    height: auto;
    margin: 0;
    box-shadow: 0 4px 6px rgba(160, 161, 161, 0.5);
  }

  .social{
    width: 100%;
    order: 0;
    margin: 0;
    background-color: rgb(46, 45, 45);
    padding: 8px 0;
  }

  .logo {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav-links {
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 30px;
    margin-top: 0;
  }

  .nav-wrap {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
  }

  .nav-links li a:hover {
    color: var(--clr-secondary);
  }

  .social-nav button,
  .btn-header {
    display: none;
  }

  .social-links {
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    column-gap: 25px;
    justify-content: flex-end;
  }

  .social-links li {
    width: fit-content;
  }

  .nav {
    width: 100%;
    margin: 0;
    background-color: white;
    padding: 6px 0;
  }

  .nav-links li a{
    color: var(--clr-primary);
    font-size: 18px;
  }

  .header-title,
  .about-title {
    margin-top: 200px;
  }

  .header-title,
  .about-title {
    width: 80%;
    row-gap: 20px;
  }

  .header-title h1 {
    font-size: 45px;
    width: 60%;
  }

  .about-top {
    text-align: center;
  }

  .about-top:nth-child(1) {
    display: none;
  }

  .about-top:nth-child(2) {
    margin: 25px auto;
  }

  .about-top:nth-child(3) {
    font-size: 18px;
    line-height: 24px;
    margin: 25px auto;
    width: 80%;
  }

  .about-top:nth-child(4) {
    font-size: 24px;
    line-height: 30px;
    margin: 25px auto;
    width: 80%;
  }

  .header-title p:first-of-type {
    font-size: 35px;
  }

  .program-container {
    width: 80%;
  }

  .program-content-container {
    flex-direction: row;
    column-gap: 2px;
  }

  .program-content {
    flex-direction: column;
    row-gap: 10px;
  }

  .program-content h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .program-content p {
    text-align: center;
  }

  .p-content h2 {
    margin-top: 35px;
  }

  .program-btn button {
    display: none;
  }

  .program-btn a {
    display: flex;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    color: var(--clr-tertiary);
    text-decoration: underline;
    margin-bottom: 50px;
  }

  .speakers-container {
    width: 80%;
  }

  .featured-speakers {
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
  }

  .speaker1 {
    width: 45%;
  }

  .btn-speaker-cont {
    display: none;
  }

  .partner {
    display: flex;
    row-gap: 15px;
  }

  .about-page {
    width: 80%;
  }

  .previous-seminar > div:nth-of-type(2) {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 30px;
  }

  .footer-social {
    width: 80%;
    column-gap: 40px;
    margin-bottom: 60px;
  }

  .footer-social img {
    width: 7%;
    height: 60px;
  }

  .footer {
    display: flex;
  }

  .footer-cont {
    width: 80%;
    column-gap: 200px;
  }

  .footer-cont img {
    width: 10%;
  }
  
  .back-top {
    right: 2%;
    bottom: 2%;
    position: fixed;
    display: none;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--clr-tertiary);
    box-shadow: 0 2px 8px grey;
    animation: bounce 1.5s infinite;
    border: none;
    outline: 1px solid var(--clr-secondary);
    transition: ease-in 0.5s;
  }
  
  .show-back-top {
    display: inline-block;
  }
  
  .back-top:hover {
    background-color: var(--clr-secondary);
    outline: 1px solid var(--clr-tertiary);
  }
  
  .back-top i {
   color: var(--clr-primary)
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
}